<div class="module-container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row block block-light top-cushion bottom-cushion">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <img class="img-thumbnail big img-avatar block-primary pull-left" ng-src="{{::userInfo.avatar_url}}&s=128" alt="{{::userInfo.login}}">
                    <div class="pull-left">
                        <a class="text-info text-heavy user-info" href="{{::userInfo.html_url}}" target="_blank">{{userInfo.name?userInfo.name:userInfo.login}}</a>
                        <br/>
                        {{::userInfo.type}}<span ng-if="::userInfo.location"> ({{::userInfo.location}})</span>
                        <br />
                        <a class="text-info text-heavy" ui-sref=".repos">Repositories</a> (Public: {{::userInfo.public_repos}}<span ng-if="userInfo.owned_private_repos">, Private: {{::userInfo.owned_private_repos}}</span>)
                        <span ng-if="::userInfo.type==='User'">
                            <br />
                            <a class="text-info text-heavy" ui-sref=".gists">Gists</a> (Public: {{::userInfo.public_gists}}<span ng-if="userInfo.private_gists">, Private: {{::userInfo.private_gists}}</span>)
                            <br />
                            <a class="text-info text-heavy" ui-sref=".orgs">Organisations</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" ui-view="section"></div>
    </div>
</div>
